extends ../_layout

block variables
    - var title = one.Pages.about.title
    - var author = one.Pages.about.author
    - var description = one.Pages.about.description
    - var keywords = one.Pages.about.keywords
    - var bodyClass = one.Pages.about.bodyClass

block content
    include ../common/_test